header{
	background: #dc8383;
	color:#9fcef0;
}

.main{
	background: #a98686;
}

.color{
	background: #ce5050;
	color: blueviolet;
}

aside{
	background: #9fcef0;
	color: black;
}
footer{
	background: #912424;
	color: aliceblue;
}
.color1{
	background: #c84dcf;
}